<% provide(:title, 'about') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App | <%= yield(:title)%></title>
  </head>

  <body>

    <h1>About Us</h1>
    <p>Im 19 years old.</p>

  </body
</html>