<% provide(:title, 'home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App | <%= yield(:title) %></title>
  </head>

  <body>

    <h1>Sample App</h1>
    <p>This is a sample app. Friend me on facebook:
    <a href='www.facebook.com'>Facebook Link</>
    </p>

  </body
</html>
